

body,div,table,tr,td,p,img,form{
}div,table,td,p,form{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
body,td,th {
	font-size: 11px;
	color: #5D5D5D;
}
div.title {
	text-align:center;
	padding: 2px;
	background-color: #EDEDED;
	border-bottom: 1px dotted #AFCDDC;
	border-top: 1px dotted #AFCDDC;
	font-weight: bold;
}

a:link {
	color: #0099FF;
	font-size: 11px;
	text-decoration: none;
}
a:hover{
	text-decoration:underline overline;
	color: #000000;
}
a:visited {
	color: #0099FF;
	font-size: 11px;
}

a:active {
	color: #0099FF;
	font-size: 11px;
}
.style3 {
	color: #666666;
	font-weight: normal;
}

div.footer {	text-align:center;	padding: 2px;background-color: #FF3333;border-bottom: 1px dotted #AFCDDC;border-top: 1px dotted #AFCDDC;font-weight: bold;}.style1 {	color: #339900
}
.dj {color: #CC0000;
}
div.header1 {	padding: 3px;
	background-color: #3399FF;
	border-bottom: 1px solid #B1CADE;
	color: #FFFFFF;
	font-weight: bold;
}

.style18 {
	color: #009900;
	font-weight: bold;
}
div.header {

	padding:7px;
	background:#3399FF;
	repeat-x;
	color:#F5F5F5;
	border:1px solid #595959;
	font-weight:bold;
	margin-top:1px;

}
div.headertop {
	background-color: #030303;
	border:none;
	color:#292929;
	height:39px;
	padding:0;
	line-height: 39px;
	border-bottom: solid 3px #E4A915;
	font-weight: bold;
}
div.headerbottom {
	background-color: #797979;
	border:none;
	color:#fff;
	height:35px;
	padding:0;
	line-height: 35px;
	border-bottom: solid 2px red;
	text-align: center;
}
.djnew {
	margin: 1;	
}
.style19 {color: #FF0000}
.style20 {
	font-size: 12px
}
.style21 {
	color: #FF3300;
	font-weight: bold;
}
.black {
	color: #030303;
	
}
.red {
	color: #CC0000;
	font-weight: bolder;
}


.margin {
	margin: 0;
}
.google_search {
    min-height: 100px;
}
.google_search2 {
    min-height: 60px;
	width:100%;
}
.google_search2 form {
	padding: 17px;
	padding-left: 0;
	
}
.google_search2 input[type=text] {
    width: 70%;
	max-width:300px;
    padding: 7px;
	border-radius: 9px;
    border: 2px solid #eee;
}

.google_search2 input[type=submit] {
    width: 10%;
    padding: 6px;
    background: #2288ee none repeat scroll 0 0;
    border: 1px solid #0063c9;
    font-size: 14px;
    border-radius: 9px;
    color: #fff;
    box-shadow: 1px 2px 5px #003;
	min-width: 60px;
	cursor: pointer;
}

